{% extends 'base.html' %}

{% block content %}
<h1>Hello {{player1}}!</h1>
{% for fives in [pairs[0:5], pairs[5:10], pairs[10:15], pairs[15:20], pairs[20:25]] %}
<div class="container-fluid">
    <div class="row justify-content-center">
    {% for pair in fives %}
    <div class="col-sm" >
        {% if pair[1].value == 'NEUTRAL' %}
        <div class="card bg-light mb-3">
        {% elif pair[1].value == 'GREEN' %}
        <div class="card text-white bg-success mb-3">
        {% else %}
        <div class="card text-white bg-dark mb-3">
        {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{pair[0]}}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div><br>
{% endfor %}

<!-- {{game_board}}</br> -->
{% endblock %}